# IDE
.vscode/
.idea/

# Project
apis/
_bin/
_output/
/*.env.mk
/*.env
*.test
*.out
*.o
*.so
*.exe

# Asciidoc
.asciidoctor/
*.html
*.pdf
*.epub
*.epub3

# Generated images
/docs/adoc/**/*.gif
/docs/adoc/**/*.jpg
/docs/adoc/**/*.jpeg
/docs/adoc/**/*.png
/docs/adoc/**/*.svg

# Diagrams
__pycache__

# For convenience
tmp/
temp/
work/
study/
local/
*.tmp
*.temp

# Exclusion
!*.gitkeep
!*.gitignore
